
.hideinputImg {
    display: none;
}
.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.addPost{
    cursor: pointer;
    background-color: wheat;
    border-radius: 20px;
}
.input-section{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.error{
    color: red;
    font-size: 13px;
}
.Post , .title{
    display: flex;
    flex-direction: column;
}